.skills-dialog {
  .dialog-content {
    .skills-input {
      .skills-text {
      }

      .skills-silder {
        .p-slider .p-slider-range {
          background-color: #ff735c;
        }

        .p-slider:not(.p-disabled) .p-slider-handle:hover {
          border: #ff735c;
          background-color: #ff735c;
        }

        .p-slider .p-slider-handle {
          border: 2px solid #ff735c;
        }
      }
    }
  }
}

@media screen and (max-width: 490px) {
  .skills-dialog {
    .dialog-content {
      .skills-input {
        flex-direction: column !important;
        align-items: flex-start !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills-dialog {
    .dialog-content {
      .skills-input {
        flex-direction: column !important;
        align-items: flex-start !important;
      }
    }
  }
}
